In [1]:
#Importing libraries 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras import Sequential, layers
from tensorflow.keras.layers import Dense, SimpleRNN
from tensorflow.keras.callbacks import EarlyStopping

In [72]:
data = pd.read_csv('./raw_data/treated.csv')
data.head()

   Unnamed: 0      Country  Year  fertility Code  avg_years_of_schooling
0           0  Afghanistan  2007       6.56  AFG                     2.9
1           1  Afghanistan  1995       7.61  AFG                     1.9
2           2  Afghanistan  2008       6.37  AFG                     3.0
3           3  Afghanistan  2017       4.63  AFG                     3.8
4           4  Afghanistan  1994       7.57  AFG                     1.8

In [3]:
data

      Unnamed: 0      Country  Year  fertility Code  avg_years_of_schooling
0              0  Afghanistan  2007       6.56  AFG                     2.9
1              1  Afghanistan  1995       7.61  AFG                     1.9
2              2  Afghanistan  2008       6.37  AFG                     3.0
3              3  Afghanistan  2017       4.63  AFG                     3.8
4              4  Afghanistan  1994       7.57  AFG                     1.8
...          ...          ...   ...        ...  ...                     ...
5121        5121     Zimbabwe  2010       4.03  ZWE                     7.3
5122        5122     Zimbabwe  2000       3.75  ZWE                     6.5
5123        5123     Zimbabwe  2017       3.71  ZWE                     8.2
5124        5124     Zimbabwe  2002       3.72  ZWE                     6.9
5125        5125     Zimbabwe  2001       3.73  ZWE                     6.7

[5126 rows x 6 columns]

In [42]:
def preproc(data:pd.DataFrame) -> pd.DataFrame:
    '''
    Fines adjustments on dataset
    '''
    #Removing columns
    data.drop(columns=['Unnamed: 0', 'Code'], inplace=True)

    #Ordering by year and set it as index
    data.sort_values('Year', inplace=True)
    data.set_index('Year', inplace=True)
    
    return data

In [43]:
df = preproc(data)
df.head()

         Country  fertility  avg_years_of_schooling
Year
1960     Germany       2.37                    7.53
1960    Thailand       6.15                    2.07
1960  Kazakhstan       4.56                    3.07
1960     Vietnam       6.35                    2.01
1960       Kenya       7.95                    1.21

In [103]:
def list_X_y(data:pd.DataFrame) -> list:
    '''
    Given a countries dataset, this function returns
    two list of dataframes, ie., lists containing one dataframe per country.
    '''
    countries = data.Country.unique().tolist()

    X = []
    y = []
    
    new_df = pd.DataFrame()

    for country in countries:
        new_df = data[data['Country']==country][['fertility', 'avg_years_of_schooling']]
        
        if new_df.shape[0] == 34:
            X.append(new_df.head(33))
            y.append(new_df['avg_years_of_schooling'].tail(1))
        else:
            pass
         
    return X, y

In [69]:
X, y = list_X_y(data)

In [ ]:
X_new = np.array([np.array(X[0]), np.array(X[1]), np.array(X[2]), 
                  np.array(X[3]), np.array(X[4])]).astype(np.float32)

In [21]:
#Splits into train and test sets
X_train, X_test, y_train, y_test = train_test_split(fert, y, test_size=0.20)

In [22]:
model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

In [23]:
model.compile(loss='mse', 
              optimizer='adam') #change to adam

# Error with list of dataframes

In [24]:
es = EarlyStopping(patience=5)

model.fit(X_train, y_train,
          validation_split = 0.2,
          callbacks=[es],
          epochs=10, 
          verbose=0)

ValueError: Data cardinality is ambiguous:
  x sizes: 84
  y sizes: 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34, 34
Make sure all arrays contain the same number of samples.

# Testing with the dataframe all in once

In [ ]:
df.drop(columns='Country', inplace=True)

In [ ]:
X = df[['fertility','avg_years_of_schooling']]
y = df['avg_years_of_schooling']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

es = EarlyStopping(patience=5)

model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

model.compile(loss='mse', 
              optimizer='adam') #change to adam

model.fit(X_train, y_train,
          epochs=10, 
          verbose=0)

In [29]:
df[df['Country']=='Japan'].head(5)

     Country  fertility  avg_years_of_schooling
Year
1960   Japan       2.00                    6.97
1965   Japan       2.14                    6.94
1970   Japan       2.14                    7.08
1975   Japan       1.91                    7.90
1980   Japan       1.75                    8.71

In [58]:
# --- SEQUENCE A (brazil)

day_1 = [6.06, 2.49]  # OBSERVATION 1 [fertility, avg_years_of_schooling, pollution]
day_2 = [5.70, 2.77]  # OBSERVATION 2 [temperature, speed, pollution]
day_3 = [ 4.97,  3.09]  # OBSERVATION 3 [temperature, speed, pollution]
day_4 = [ 4.42,  2.82]  # OBSERVATION 4 [temperature, speed, pollution]

sequence_a = [day_1, day_2, day_3, day_4]

y_a = [2.93]

day_1b = [2, 6.97]  # OBSERVATION 1 [fertility, avg_years_of_schooling, pollution]
day_2b = [2.14, 6.94]  # OBSERVATION 2 [temperature, speed, pollution]
day_3b = [2.14, 7.08]  # OBSERVATION 3 [temperature, speed, pollution]
day_4b = [1.91, 7.9]  # OBSERVATION 4 [temperature, speed, pollution]

sequence_b = [day_1b, day_2b, day_3b, day_4b]

y_b = [8.71]

In [63]:
df.head()

         Country  fertility  avg_years_of_schooling
Year
1960     Germany       2.37                    7.53
1960    Thailand       6.15                    2.07
1960  Kazakhstan       4.56                    3.07
1960     Vietnam       6.35                    2.01
1960       Kenya       7.95                    1.21

In [60]:
X = np.array([sequence_a, sequence_b]).astype(np.float32)
y = np.expand_dims(np.array([y_a, y_b]).astype(np.float32), axis=-1)

In [61]:
fert

array([[2.37, 2.5 , 2.03, ..., 1.5 , 1.6 , 1.57],
       [6.15, 6.13, 5.6 , ..., 1.54, 1.54, 1.53],
       [4.56, 4.05, 3.61, ..., 2.74, 2.77, 2.75],
       ...,
       [6.49, 5.77, 4.91, ..., 1.68, 1.66, 1.64],
       [2.23, 2.25, 2.4 , ..., 1.33, 1.38, 1.35],
       [4.03, 3.54, 3.16, ..., 1.99, 1.87, 1.81]])

In [62]:
X.shape

(2, 4, 2)

In [33]:
y.shape

(2, 1, 1)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

es = EarlyStopping(patience=5)

model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

model.compile(loss='mse', 
              optimizer='adam') #change to adam

model.fit(X_train, y_train,
          epochs=10, 
          verbose=1)

Epoch 1/10
1/1 [==============================] - 1s 605ms/step - loss: 8.3856
Epoch 2/10
1/1 [==============================] - 0s 3ms/step - loss: 7.9014
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 7.5031
Epoch 4/10
1/1 [==============================] - 0s 3ms/step - loss: 7.1220
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 6.7556
Epoch 6/10
1/1 [==============================] - 0s 3ms/step - loss: 6.4441
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 6.1568
Epoch 8/10
1/1 [==============================] - 0s 3ms/step - loss: 5.8791
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 5.6107
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 5.3512

In [73]:
df = preproc(data)
df.head()

         Country  fertility  avg_years_of_schooling
Year
1960     Germany       2.37                    7.53
1960    Thailand       6.15                    2.07
1960  Kazakhstan       4.56                    3.07
1960     Vietnam       6.35                    2.01
1960       Kenya       7.95                    1.21

In [104]:
X, y = list_X_y(data)

In [105]:
np.array(X[10])

array([[6.52, 0.35],
       [6.79, 0.42],
       [7.08, 0.48],
       [7.28, 1.02],
       [7.22, 1.72],
       [6.81, 2.37],
       [6.19, 2.99],
       [6.07, 3.1 ],
       [5.96, 3.2 ],
       [5.86, 3.3 ],
       [5.77, 3.4 ],
       [5.7 , 3.5 ],
       [5.63, 3.6 ],
       [5.57, 3.7 ],
       [5.52, 3.8 ],
       [5.47, 3.9 ],
       [5.42, 4.  ],
       [5.37, 4.  ],
       [5.33, 4.1 ],
       [5.28, 4.1 ],
       [5.23, 4.2 ],
       [5.18, 4.2 ],
       [5.12, 4.3 ],
       [5.06, 4.3 ],
       [5.  , 4.3 ],
       [4.94, 4.3 ],
       [4.87, 4.3 ],
       [4.8 , 4.4 ],
       [4.73, 4.4 ],
       [4.66, 4.5 ],
       [4.59, 4.7 ],
       [4.52, 4.7 ],
       [4.45, 4.8 ]])

In [78]:
sequence_a

[[6.06, 2.49], [5.7, 2.77], [4.97, 3.09], [4.42, 2.82]]

In [102]:
X[0].head(33)

      fertility  avg_years_of_schooling
Year
1960       2.37                    7.53
1965       2.50                    7.68
1970       2.03                    7.71
1975       1.45                    7.58
1980       1.44                    7.63
1985       1.37                    7.55
1990       1.45                    8.77
1991       1.33                    8.90
1992       1.29                    9.10
1993       1.28                    9.30
1994       1.24                    9.50
1995       1.25                    9.70
1996       1.30                    9.80
1997       1.35                   10.00
1998       1.36                   10.20
1999       1.36                   10.30
2000       1.38                   11.20
2001       1.35                   11.70
2002       1.34                   12.10
2003       1.34                   12.50
2004       1.36                   12.90
2005       1.34                   13.30
2006       1.33                   13.60
2007       1.37                   13.70
2008       1.38                   13.70
2009       1.36                   13.80
2010       1.39                   13.80
2011       1.39                   13.90
2012       1.41                   14.00
2013       1.42                   14.00
2014       1.47                   14.00
2015       1.50                   14.10
2016       1.60                   14.10

In [106]:
X_new = np.array([np.array(X[0]), np.array(X[1]), np.array(X[2]), np.array(X[3]), np.array(X[4])]).astype(np.float32)

In [107]:
X_new.shape

(5, 33, 2)

In [111]:
np.array(y).shape

(132, 1)

In [112]:
y_new = np.expand_dims(
    np.array([np.array(y[0]), np.array(y[1]), np.array(y[2]), 
              np.array(y[3]), np.array(y[4])]).astype(np.float32), axis=-1)

In [113]:
y_new.shape

(5, 1, 1)

In [115]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

es = EarlyStopping(patience=5)

model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

model.compile(loss='mse', 
              optimizer='adam') #change to adam

model.fit(X_new, y_new,
          epochs=10, 
          verbose=1)

Epoch 1/10
1/1 [==============================] - 1s 599ms/step - loss: 119.8817
Epoch 2/10
1/1 [==============================] - 0s 6ms/step - loss: 119.0840
Epoch 3/10
1/1 [==============================] - 0s 6ms/step - loss: 118.2848
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 117.4835
Epoch 5/10
1/1 [==============================] - 0s 4ms/step - loss: 116.6798
Epoch 6/10
1/1 [==============================] - 0s 4ms/step - loss: 115.8164
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 114.9221
Epoch 8/10
1/1 [==============================] - 0s 5ms/step - loss: 114.0195
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 113.1092
Epoch 10/10
1/1 [==============================] - 0s 8ms/step - loss: 112.1915