In [1]:
#Importing libraries 
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np
from sklearn.model_selection import train_test_split
from tensorflow.keras import Sequential, layers
from tensorflow.keras.layers import Dense, SimpleRNN
from tensorflow.keras.callbacks import EarlyStopping

In [72]:
data = pd.read_csv('./raw_data/treated.csv')
data.head()

   Unnamed: 0      Country  Year  fertility Code  avg_years_of_schooling
0           0  Afghanistan  2007       6.56  AFG                     2.9
1           1  Afghanistan  1995       7.61  AFG                     1.9
2           2  Afghanistan  2008       6.37  AFG                     3.0
3           3  Afghanistan  2017       4.63  AFG                     3.8
4           4  Afghanistan  1994       7.57  AFG                     1.8

In [3]:
data

      Unnamed: 0      Country  Year  fertility Code  avg_years_of_schooling
0              0  Afghanistan  2007       6.56  AFG                     2.9
1              1  Afghanistan  1995       7.61  AFG                     1.9
2              2  Afghanistan  2008       6.37  AFG                     3.0
3              3  Afghanistan  2017       4.63  AFG                     3.8
4              4  Afghanistan  1994       7.57  AFG                     1.8
...          ...          ...   ...        ...  ...                     ...
5121        5121     Zimbabwe  2010       4.03  ZWE                     7.3
5122        5122     Zimbabwe  2000       3.75  ZWE                     6.5
5123        5123     Zimbabwe  2017       3.71  ZWE                     8.2
5124        5124     Zimbabwe  2002       3.72  ZWE                     6.9
5125        5125     Zimbabwe  2001       3.73  ZWE                     6.7

[5126 rows x 6 columns]

In [42]:
def preproc(data:pd.DataFrame) -> pd.DataFrame:
    '''
    Fines adjustments on dataset
    '''
    #Removing columns
    data.drop(columns=['Unnamed: 0', 'Code'], inplace=True)

    #Ordering by year and set it as index
    data.sort_values('Year', inplace=True)
    data.set_index('Year', inplace=True)
    
    return data

In [43]:
df = preproc(data)
df.head()

         Country  fertility  avg_years_of_schooling
Year
1960     Germany       2.37                    7.53
1960    Thailand       6.15                    2.07
1960  Kazakhstan       4.56                    3.07
1960     Vietnam       6.35                    2.01
1960       Kenya       7.95                    1.21

In [103]:
def list_X_y(data:pd.DataFrame) -> list:
    '''
    Given a countries dataset, this function returns
    two list of dataframes, ie., lists containing one dataframe per country.
    '''
    countries = data.Country.unique().tolist()

    X = []
    y = []
    
    new_df = pd.DataFrame()

    for country in countries:
        new_df = data[data['Country']==country][['fertility', 'avg_years_of_schooling']]
        
        if new_df.shape[0] == 34:
            X.append(new_df.head(33))
            y.append(new_df['avg_years_of_schooling'].tail(1))
        else:
            pass
         
    return X, y

In [130]:
X, y = list_X_y(data)

In [131]:
#X_new = np.array([np.array(X[0]), np.array(X[1]), np.array(X[2]), 
#                  np.array(X[3]), np.array(X[4])]).astype(np.float32)

In [132]:
X_new = np.array(X)

In [134]:
y_new = np.array(y)

In [135]:
y_new = np.expand_dims(y_new.astype(np.float32), axis=-1)
y_new.shape

(132, 1, 1)

In [136]:
#Splits into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X_new, y_new, test_size=0.20)

In [137]:
model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

In [151]:
model.compile(loss='mse', 
              optimizer='adam',
                metrics=['mae']) #change to adam

In [152]:
es = EarlyStopping(patience=10)

model.fit(X_train, y_train,
          validation_split = 0.2,
          callbacks=[es],
          epochs=100, 
          verbose=1)

Epoch 1/100
3/3 [==============================] - 1s 105ms/step - loss: 0.1744 - mae: 0.2551 - val_loss: 0.1665 - val_mae: 0.3042
Epoch 2/100
3/3 [==============================] - 0s 11ms/step - loss: 0.1325 - mae: 0.2292 - val_loss: 0.1082 - val_mae: 0.2418
Epoch 3/100
3/3 [==============================] - 0s 10ms/step - loss: 0.1039 - mae: 0.2101 - val_loss: 0.0745 - val_mae: 0.1997
Epoch 4/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0782 - mae: 0.1839 - val_loss: 0.0573 - val_mae: 0.1780
Epoch 5/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0660 - mae: 0.1619 - val_loss: 0.0475 - val_mae: 0.1630
Epoch 6/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0502 - mae: 0.1412 - val_loss: 0.0407 - val_mae: 0.1604
Epoch 7/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0445 - mae: 0.1478 - val_loss: 0.0373 - val_mae: 0.1530
Epoch 8/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0378 - mae: 0.1247 - val_loss: 0.0374 - val_mae: 0.1534
Epoch 9/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0327 - mae: 0.1201 - val_loss: 0.0310 - val_mae: 0.1407
Epoch 10/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0290 - mae: 0.1218 - val_loss: 0.0304 - val_mae: 0.1408
Epoch 11/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0264 - mae: 0.1142 - val_loss: 0.0304 - val_mae: 0.1426
Epoch 12/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0250 - mae: 0.1122 - val_loss: 0.0301 - val_mae: 0.1416
Epoch 13/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0226 - mae: 0.1064 - val_loss: 0.0316 - val_mae: 0.1440
Epoch 14/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0236 - mae: 0.1114 - val_loss: 0.0302 - val_mae: 0.1428
Epoch 15/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0221 - mae: 0.1085 - val_loss: 0.0289 - val_mae: 0.1395
Epoch 16/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0213 - mae: 0.1098 - val_loss: 0.0310 - val_mae: 0.1399
Epoch 17/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0206 - mae: 0.1068 - val_loss: 0.0292 - val_mae: 0.1427
Epoch 18/100
3/3 [==============================] - 0s 9ms/step - loss: 0.0203 - mae: 0.1090 - val_loss: 0.0289 - val_mae: 0.1391
Epoch 19/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0182 - mae: 0.0983 - val_loss: 0.0309 - val_mae: 0.1378
Epoch 20/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0194 - mae: 0.1024 - val_loss: 0.0285 - val_mae: 0.1348
Epoch 21/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0177 - mae: 0.0957 - val_loss: 0.0271 - val_mae: 0.1336
Epoch 22/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0180 - mae: 0.1015 - val_loss: 0.0263 - val_mae: 0.1285
Epoch 23/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0186 - mae: 0.1016 - val_loss: 0.0279 - val_mae: 0.1293
Epoch 24/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0168 - mae: 0.0950 - val_loss: 0.0265 - val_mae: 0.1327
Epoch 25/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0187 - mae: 0.1047 - val_loss: 0.0252 - val_mae: 0.1270
Epoch 26/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0165 - mae: 0.0970 - val_loss: 0.0283 - val_mae: 0.1310
Epoch 27/100
3/3 [==============================] - 0s 10ms/step - loss: 0.0167 - mae: 0.0994 - val_loss: 0.0238 - val_mae: 0.1238
Epoch 28/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0161 - mae: 0.1000 - val_loss: 0.0241 - val_mae: 0.1262
Epoch 29/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0161 - mae: 0.0992 - val_loss: 0.0232 - val_mae: 0.1192
Epoch 30/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0169 - mae: 0.1007 - val_loss: 0.0258 - val_mae: 0.1231
Epoch 31/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0160 - mae: 0.0967 - val_loss: 0.0241 - val_mae: 0.1302
Epoch 32/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0147 - mae: 0.0899 - val_loss: 0.0214 - val_mae: 0.1156
Epoch 33/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0141 - mae: 0.0866 - val_loss: 0.0214 - val_mae: 0.1116
Epoch 34/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0135 - mae: 0.0862 - val_loss: 0.0201 - val_mae: 0.1122
Epoch 35/100
3/3 [==============================] - 0s 11ms/step - loss: 0.0135 - mae: 0.0860 - val_loss: 0.0199 - val_mae: 0.1124
Epoch 36/100
3/3 [==============================] - 0s 12ms/step - loss: 0.0128 - mae: 0.0815 - val_loss: 0.0192 - val_mae: 0.1055
Epoch 37/100
3/3 [==============================] - 0s 13ms/step - loss: 0.0126 - mae: 0.0816 - val_loss: 0.0191 - val_mae: 0.1071
Epoch 38/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0124 - mae: 0.0815 - val_loss: 0.0192 - val_mae: 0.1097
Epoch 39/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0122 - mae: 0.0802 - val_loss: 0.0188 - val_mae: 0.1030
Epoch 40/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0129 - mae: 0.0823 - val_loss: 0.0191 - val_mae: 0.1025
Epoch 41/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0129 - mae: 0.0849 - val_loss: 0.0201 - val_mae: 0.1138
Epoch 42/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0132 - mae: 0.0862 - val_loss: 0.0197 - val_mae: 0.1051
Epoch 43/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0117 - mae: 0.0764 - val_loss: 0.0193 - val_mae: 0.1095
Epoch 44/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0120 - mae: 0.0796 - val_loss: 0.0182 - val_mae: 0.1034
Epoch 45/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0118 - mae: 0.0787 - val_loss: 0.0187 - val_mae: 0.1003
Epoch 46/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0115 - mae: 0.0773 - val_loss: 0.0184 - val_mae: 0.1043
Epoch 47/100
3/3 [==============================] - 0s 17ms/step - loss: 0.0115 - mae: 0.0789 - val_loss: 0.0186 - val_mae: 0.1075
Epoch 48/100
3/3 [==============================] - 0s 17ms/step - loss: 0.0115 - mae: 0.0763 - val_loss: 0.0183 - val_mae: 0.1007
Epoch 49/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0115 - mae: 0.0770 - val_loss: 0.0172 - val_mae: 0.0999
Epoch 50/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0108 - mae: 0.0760 - val_loss: 0.0172 - val_mae: 0.1032
Epoch 51/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0120 - mae: 0.0820 - val_loss: 0.0161 - val_mae: 0.0952
Epoch 52/100
3/3 [==============================] - 0s 14ms/step - loss: 0.0122 - mae: 0.0824 - val_loss: 0.0175 - val_mae: 0.1010
Epoch 53/100
3/3 [==============================] - 0s 17ms/step - loss: 0.0114 - mae: 0.0752 - val_loss: 0.0176 - val_mae: 0.1065
Epoch 54/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0115 - mae: 0.0787 - val_loss: 0.0164 - val_mae: 0.0979
Epoch 55/100
3/3 [==============================] - 0s 16ms/step - loss: 0.0107 - mae: 0.0729 - val_loss: 0.0174 - val_mae: 0.0995
Epoch 56/100
3/3 [==============================] - 0s 15ms/step - loss: 0.0108 - mae: 0.0740 - val_loss: 0.0163 - val_mae: 0.0980

In [155]:
model.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 simple_rnn_5 (SimpleRNN)    (None, 20)                460

 dense_10 (Dense)            (None, 10)                210

 dense_11 (Dense)            (None, 1)                 11

=================================================================
Total params: 681
Trainable params: 681
Non-trainable params: 0
_________________________________________________________________

In [153]:
history = model.evaluate(X_test, y_test)

1/1 [==============================] - 0s 17ms/step - loss: 0.0163 - mae: 0.1018

In [150]:
history[0]

TypeError: 'float' object is not subscriptable

# Testing with the dataframe all in once

In [ ]:
df.drop(columns='Country', inplace=True)

In [ ]:
X = df[['fertility','avg_years_of_schooling']]
y = df['avg_years_of_schooling']

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

es = EarlyStopping(patience=5)

model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

model.compile(loss='mse', 
              optimizer='adam') #change to adam

model.fit(X_train, y_train,
          epochs=10, 
          verbose=0)

In [ ]:
history = model.evaluate(X_)

In [29]:
df[df['Country']=='Japan'].head(5)

     Country  fertility  avg_years_of_schooling
Year
1960   Japan       2.00                    6.97
1965   Japan       2.14                    6.94
1970   Japan       2.14                    7.08
1975   Japan       1.91                    7.90
1980   Japan       1.75                    8.71

In [58]:
# --- SEQUENCE A (brazil)

day_1 = [6.06, 2.49]  # OBSERVATION 1 [fertility, avg_years_of_schooling, pollution]
day_2 = [5.70, 2.77]  # OBSERVATION 2 [temperature, speed, pollution]
day_3 = [ 4.97,  3.09]  # OBSERVATION 3 [temperature, speed, pollution]
day_4 = [ 4.42,  2.82]  # OBSERVATION 4 [temperature, speed, pollution]

sequence_a = [day_1, day_2, day_3, day_4]

y_a = [2.93]

day_1b = [2, 6.97]  # OBSERVATION 1 [fertility, avg_years_of_schooling, pollution]
day_2b = [2.14, 6.94]  # OBSERVATION 2 [temperature, speed, pollution]
day_3b = [2.14, 7.08]  # OBSERVATION 3 [temperature, speed, pollution]
day_4b = [1.91, 7.9]  # OBSERVATION 4 [temperature, speed, pollution]

sequence_b = [day_1b, day_2b, day_3b, day_4b]

y_b = [8.71]

In [63]:
df.head()

         Country  fertility  avg_years_of_schooling
Year
1960     Germany       2.37                    7.53
1960    Thailand       6.15                    2.07
1960  Kazakhstan       4.56                    3.07
1960     Vietnam       6.35                    2.01
1960       Kenya       7.95                    1.21

In [60]:
X = np.array([sequence_a, sequence_b]).astype(np.float32)
y = np.expand_dims(np.array([y_a, y_b]).astype(np.float32), axis=-1)

In [61]:
fert

array([[2.37, 2.5 , 2.03, ..., 1.5 , 1.6 , 1.57],
       [6.15, 6.13, 5.6 , ..., 1.54, 1.54, 1.53],
       [4.56, 4.05, 3.61, ..., 2.74, 2.77, 2.75],
       ...,
       [6.49, 5.77, 4.91, ..., 1.68, 1.66, 1.64],
       [2.23, 2.25, 2.4 , ..., 1.33, 1.38, 1.35],
       [4.03, 3.54, 3.16, ..., 1.99, 1.87, 1.81]])

In [62]:
X.shape

(2, 4, 2)

In [33]:
y.shape

(2, 1, 1)

In [35]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

es = EarlyStopping(patience=5)

model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

model.compile(loss='mse', 
              optimizer='adam') #change to adam

model.fit(X_train, y_train,
          epochs=10, 
          verbose=1)

Epoch 1/10
1/1 [==============================] - 1s 605ms/step - loss: 8.3856
Epoch 2/10
1/1 [==============================] - 0s 3ms/step - loss: 7.9014
Epoch 3/10
1/1 [==============================] - 0s 3ms/step - loss: 7.5031
Epoch 4/10
1/1 [==============================] - 0s 3ms/step - loss: 7.1220
Epoch 5/10
1/1 [==============================] - 0s 3ms/step - loss: 6.7556
Epoch 6/10
1/1 [==============================] - 0s 3ms/step - loss: 6.4441
Epoch 7/10
1/1 [==============================] - 0s 4ms/step - loss: 6.1568
Epoch 8/10
1/1 [==============================] - 0s 3ms/step - loss: 5.8791
Epoch 9/10
1/1 [==============================] - 0s 2ms/step - loss: 5.6107
Epoch 10/10
1/1 [==============================] - 0s 4ms/step - loss: 5.3512

In [73]:
df = preproc(data)
df.head()

         Country  fertility  avg_years_of_schooling
Year
1960     Germany       2.37                    7.53
1960    Thailand       6.15                    2.07
1960  Kazakhstan       4.56                    3.07
1960     Vietnam       6.35                    2.01
1960       Kenya       7.95                    1.21

In [104]:
X, y = list_X_y(data)

In [105]:
np.array(X[10])

array([[6.52, 0.35],
       [6.79, 0.42],
       [7.08, 0.48],
       [7.28, 1.02],
       [7.22, 1.72],
       [6.81, 2.37],
       [6.19, 2.99],
       [6.07, 3.1 ],
       [5.96, 3.2 ],
       [5.86, 3.3 ],
       [5.77, 3.4 ],
       [5.7 , 3.5 ],
       [5.63, 3.6 ],
       [5.57, 3.7 ],
       [5.52, 3.8 ],
       [5.47, 3.9 ],
       [5.42, 4.  ],
       [5.37, 4.  ],
       [5.33, 4.1 ],
       [5.28, 4.1 ],
       [5.23, 4.2 ],
       [5.18, 4.2 ],
       [5.12, 4.3 ],
       [5.06, 4.3 ],
       [5.  , 4.3 ],
       [4.94, 4.3 ],
       [4.87, 4.3 ],
       [4.8 , 4.4 ],
       [4.73, 4.4 ],
       [4.66, 4.5 ],
       [4.59, 4.7 ],
       [4.52, 4.7 ],
       [4.45, 4.8 ]])

In [78]:
sequence_a

[[6.06, 2.49], [5.7, 2.77], [4.97, 3.09], [4.42, 2.82]]

In [102]:
X[0].head(33)

      fertility  avg_years_of_schooling
Year
1960       2.37                    7.53
1965       2.50                    7.68
1970       2.03                    7.71
1975       1.45                    7.58
1980       1.44                    7.63
1985       1.37                    7.55
1990       1.45                    8.77
1991       1.33                    8.90
1992       1.29                    9.10
1993       1.28                    9.30
1994       1.24                    9.50
1995       1.25                    9.70
1996       1.30                    9.80
1997       1.35                   10.00
1998       1.36                   10.20
1999       1.36                   10.30
2000       1.38                   11.20
2001       1.35                   11.70
2002       1.34                   12.10
2003       1.34                   12.50
2004       1.36                   12.90
2005       1.34                   13.30
2006       1.33                   13.60
2007       1.37                   13.70
2008       1.38                   13.70
2009       1.36                   13.80
2010       1.39                   13.80
2011       1.39                   13.90
2012       1.41                   14.00
2013       1.42                   14.00
2014       1.47                   14.00
2015       1.50                   14.10
2016       1.60                   14.10

In [106]:
X_new = np.array([np.array(X[0]), np.array(X[1]), np.array(X[2]), np.array(X[3]), np.array(X[4])]).astype(np.float32)

In [107]:
X_new.shape

(5, 33, 2)

In [111]:
np.array(y).shape

(132, 1)

In [112]:
y_new = np.expand_dims(
    np.array([np.array(y[0]), np.array(y[1]), np.array(y[2]), 
              np.array(y[3]), np.array(y[4])]).astype(np.float32), axis=-1)

In [113]:
y_new.shape

(5, 1, 1)

In [115]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

es = EarlyStopping(patience=5)

model = Sequential()
model.add(SimpleRNN(units=20, activation='tanh'))
model.add(Dense(10, activation="relu"))
model.add(Dense(1, activation="linear"))

model.compile(loss='mse', 
              optimizer='adam') #change to adam

model.fit(X_new, y_new,
          epochs=10, 
          verbose=1)

Epoch 1/10
1/1 [==============================] - 1s 599ms/step - loss: 119.8817
Epoch 2/10
1/1 [==============================] - 0s 6ms/step - loss: 119.0840
Epoch 3/10
1/1 [==============================] - 0s 6ms/step - loss: 118.2848
Epoch 4/10
1/1 [==============================] - 0s 4ms/step - loss: 117.4835
Epoch 5/10
1/1 [==============================] - 0s 4ms/step - loss: 116.6798
Epoch 6/10
1/1 [==============================] - 0s 4ms/step - loss: 115.8164
Epoch 7/10
1/1 [==============================] - 0s 5ms/step - loss: 114.9221
Epoch 8/10
1/1 [==============================] - 0s 5ms/step - loss: 114.0195
Epoch 9/10
1/1 [==============================] - 0s 4ms/step - loss: 113.1092
Epoch 10/10
1/1 [==============================] - 0s 8ms/step - loss: 112.1915